# Archivos compilados de Java
*.class
*.jar
*.war
*.ear

# Directorios de salida de compilación
/out/
/bin/
/target/

# Archivos de Log
*.log

# Archivos de configuración de IDEs y editores

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json

# IntelliJ
.idea/

